<div class="matches">

  <div class="main">
    <pre>          da great. jup

    ██╗  ██╗██╗ ██████╗██╗  ██╗██████╗
    ██║ ██╔╝██║██╔════╝██║ ██╔╝██╔══██╗
    █████╔╝ ██║██║     █████╔╝ ██████╔╝
    ██╔═██╗ ██║██║     ██╔═██╗ ██╔══██╗
    ██║  ██╗██║╚██████╗██║  ██╗██║  ██║
    ╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝
    </pre>
  </div>

  <div class="leaderboard" ng-if="leaderBoard" flex-container="row">

    <div class="feature" flex-fill>
      <h3>Leader Board</h3>

      <ul class="basic-list">
        <li class="scores" ng-repeat="score in leaderBoard.scores">
          #{{$index + 1}} <strong>{{ score.player.alias }}</strong>
          <span title="changes last 7 days">({{ score.added > 0 ? '+' : '' }}{{ score.added }})</span>
        </li>
        <li ng-if="!leaderBoard.scores.length">
          No players on the board yet.
        </li>
      </ul>
    </div>

    <div class="feature" flex-fill>
      <h3>Average Performance</h3>

      <ul class="basic-list">
        <li class="scores" ng-repeat="statistic in leaderBoard.performance">
          #{{$index + 1}} <strong>{{ statistic.player.alias }}</strong>
          <span title="average points last 7 days">{{ statistic.average }}</span>
          <span title="confidence in this result">({{ statistic.confidence }})</span>
        </li>
        <li ng-if="!leaderBoard.performance.length">
          No statistics yet.
        </li>
      </ul>
    </div>
  </div>

  <div class="feature" ng-if="status">
    <h3>Your Status</h3>

    <span ng-if="status.openTournaments">
      You are currently part in some open tournaments.
    </span>
  </div>

  <div class="feature" ng-if="matches">
    <h3>Last Matches</h3>

    <ul class="basic-list">
      <li class="match" ng-repeat="match in matches">
        <match-summary match="match"></match-summary>
      </li>
      <li ng-if="!matches.length">
        No recorded matches
      </li>
    </ul>

    <p class="links">
      <a ng-href="#/matches">View all</a>
      <a ng-href="#/matches/new">File new match</a>
    </p>
  </div>

</div>