/* code */
pre {
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  overflow: hidden;
}

/* main */
.main.container {
  padding-top: 6em;
}

/* header */
.ui.menu .item>img:not(.ui) {
  width: 4em;
}

.ui.secondary.menu .floated.header {
  margin-top: .5em;
}

.ui.secondary.menu .left.floated.header {
  margin-left: .14285em;
  margin-bottom: 0.4em;
}


/* footer */
footer .ui.divider {
  margin-top: 3em;
  margin-bottom: 1.5em;
}


/* loader */
.ui.basic.loading.segment,
.ui.basic.loaded.segment {
  padding: 0.2em;
}

.highscore.table,
.matches.table {
  font-family: "Courier New", Courier, monospace;
}

.matches.table .unrated,
.matches.table .removed {
  opacity: 0.7;
}

.matches.table .removed {
  text-decoration: line-through;
}

@media(min-width: 768px) {
  .login.grid {
    margin: 3em auto 6em auto;
  }

  .login.grid .column {
    max-width: 450px;
  }
}


/* form */

.ui.form .section.divider {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ui.form .grid {
  margin-bottom: 0.5em;
}

.ui.form .note {
  padding: .67861429em 1em;
  display: inline-block;
  color: #666;
}

@media only screen and (max-width: 767px) {
  .ui.form .ui[class*="very relaxed"].grid {
    margin: -1rem;
  }
}

/** search */
.ui.search .result .content > * {
  display: inline-block;
}

.ui.search .result .content > .title {
  margin: 0 1em 0 0 !important;
}

.ui.search .result .description {
  font-size: 1em;
  float: right;
}

/** tools */

.ui.tools.segment .label {
  margin-top: -0.3em;
  margin-bottom: -0.3em;
}

/** feed */

.ui.history.feed {
  position: relative;
  margin-top: 30px;
}

.ui.history.feed > .event {
  margin: 15px;
}

.ui.history.feed:before {
  content: '';
  border-left: solid 2px #f3f4f5;
  position: absolute;
  top: -27px;
  bottom: 10px;
  left: 31px;
  z-index: -1;
}

.ui.history.feed > .event > .label {
  background: #f3f4f5;
  border: solid 2px white;
  text-align: center;
  border-radius: 500rem;
  width: 2.5em;
  height: 2.5em;
  line-height: 1em;
  padding: .195em .165em;
}

.ui.history.feed > .event > .label .icon {

}

.ui.history.feed > .event > .content .summary {
  font-weight: normal;
}