<h1>Login to kickr</h1>

<form name="form" ng-submit="login(name, password)">

  <fieldset>

    <p>
      <input type="text"
             required
             autofocus="autofocus"
             placeholder="User name"
             ng-model="name" />
    </p>

    <p>
      <input type="password"
             required
             placeholder="Password"
             ng-model="password" />
    </p>

    <p>
      <input type="submit" value="Login">
      <input type="button" value="Back" ng-click="back()">
    </p>

  </fieldset>

</form>