<h1>Record a match</h1>

<form class="new-match-form" name="form" ng-submit="save()">

  <div class="sides">
    <fieldset>
      <legend>Team A<span ng-if="match.table"> ({{ match.table.team1Alias }})</span></legend>

      <p>
        Offense

        <input
          type="text"
          required
          autofocus
          autocomplete="findPlayers(input)"
          autocomplete-select="match.teams.team1.offense = value"
          ng-model="completions.team1offense" />

        <span ng-if="match.teams.team1.offense">
          OK
        </span>
      </p>
      <p>
        Defense

        <input
          type="text"
          autofocus
          autocomplete="findPlayers(input)"
          autocomplete-select="match.teams.team1.defense = value"
          ng-model="completions.team1defense" />

        <span ng-if="match.teams.team1.defense">
          OK
        </span>
      </p>
    </fieldset>

    <fieldset>
      <legend>Team B<span ng-if="match.table"> ({{ match.table.team2Alias }})</span></legend>

      <p>
        Offense
        <input
          type="text"
          required
          autofocus
          autocomplete="findPlayers(input)"
          autocomplete-select="match.teams.team2.offense = value"
          ng-model="completions.team2offense" />

        <span ng-if="match.teams.team2.offense">
          OK
        </span>
      </p>
      <p>
        Defense
        <input
          type="text"
          autofocus
          autocomplete="findPlayers(input)"
          autocomplete-select="match.teams.team2.defense = value"
          ng-model="completions.team2defense" />

        <span ng-if="match.teams.team2.defense">
          OK
        </span>
      </p>
    </fieldset>
  </div>

  <div class="results">
    <fieldset>
      <legend>Results</legend>

      <p>
        Games <input type="text" name="games" required ng-model="games" /> <small>(specify space separated as 1:3 4:5 10:3)</small>
      </p>

      <p ng-if="score">
        Final result: <score score="score"></score>
      </p>
    </fieldset>
  </div>

  <div class="table-info" ng-if="match.table">
    <fieldset>
      <legend>Location</legend>

      <p>
        Played at {{ match.table.name }}
      </p>
    </fieldset>
  </div>

  <div class="buttons">
    <input type="submit" value="Save" />
    <input type="reset" value="Reset" />
  </div>

</form>