<div class="match-summary">

  <div class="identifier">
    <a ng-href="#/matches/{{ match.id }}">{{ match.id }}</a>
  </div>

  <div class="game-details" flex-container="row">
    <div class="team left" flex-initial>
      <span class="player"
            ng-repeat="(role, player) in match.teams.team1"
            title="{{ role }}">
        {{ player.alias }}
      </span>
    </div>
    <div class="versus" flex-initial>
      <span class="score">
        <score score="match.result" />
      </span>
    </div>
    <div class="team right" flex-fill>
      <span class="player"
            ng-repeat="(role, player) in match.teams.team2"
            title="{{ role }}">
        {{ player.alias }}
      </span>
    </div>
  </div>


  <div class="location-details">
    ({{ match.played | date:'mediumDate' }}) on {{ match.table.name }}
  </div>

</div>