@font-face {
  font-family: 'kickr';
  src: url('../font/kickr.eot?56708245');
  src: url('../font/kickr.eot?56708245#iefix') format('embedded-opentype'),
       url('../font/kickr.woff?56708245') format('woff'),
       url('../font/kickr.ttf?56708245') format('truetype'),
       url('../font/kickr.svg?56708245#kickr') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kickr";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
}

.icon-login:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */