body, html {
  height: 100%;
}

body, html, pre {
  font-family: "Courier New", Courier, monospace;
}

.contents {
  padding: 20px;
}

.feature {
  border: double 3px @default-border-color;
  padding: 0 20px 10px 20px;

  margin-bottom: 30px;
}

.basic-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 3px 5px;

    &:hover {
      background: #F3F3F3;
    }
  }
}